@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "~@fortawesome/fontawesome-free/css/all.css";

/* LAYOUT */
body {
  margin: 0;
  font-family: Lato, sans-serif;
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
#root main {
  flex-grow: 1;
}

/* BASE STYLES */
button {
  cursor: pointer;
  background: black;
  color: white;
  border: none;
  outline: none;
}
button:hover {
  background: #666;
}
button.ico {
  width: 2.2em;
  height: 2.2em;
  position: relative;
}
button.ico > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin-bottom: 0;
}

.large {
  font-size: 1.5em;
}
.larger {
  font-size: 2em;
}
