.loader {
  padding: 20px;
  position: relative;
}

.loader .flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.loader .dropzone {
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fafafa;
  border: 2px dashed #666;
  outline: none;
  padding: 20px;

  color: #666;
  text-align: center;
  cursor: pointer;
}
.loader .dropzone:hover {
  border-color: #ccc;
  background: white;
  color: #999;
}

.loader .footer {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.loader .footer img {
  height: 1em;
  vertical-align: middle;
}
.loader .footer > *:last-child {
  text-align: right;
}

.loader .error-message {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 20px;

  border-radius: 5px;
  border: 2px solid darkred;
  background: white;
  color: darkred;
}
.loader .error-message:hover {
  cursor: pointer;
  color: #666666;
  border-color: #666666;
}

.loader .loading {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
