.sigma {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
}

.sigma .graph-display {
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: 100%;
}
.sigma .sigma-container {
  width: 100%;
  height: 100%;
}

.sigma .controls {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  flex-direction: column;
}
.sigma .controls br {
  margin-bottom: 20px;
}

.sigma .side-panel {
  flex-shrink: 0;
  max-width: 400px;
  border-right: 1px solid black;
  padding: 20px;
  overflow-y: auto;
  background: white;
}
.sigma .top-left-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.sigma button {
  font-size: 1.2em;
  margin-bottom: 10px;
  z-index: 1;
}
